# .github/workflows/continuous_integration.yml
name: CI
on: [pull_request]

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Install package (editable)
        run: pip install -e .

      - name: Test CLI (prst)
        run: prst .

      - name: Test CLI (printstruct)
        run: printstruct .
